<mat-form-field class="chip-list">
  <mat-chip-list #chipList aria-label="Topics selection">
    <mat-chip
      *ngFor="let topic of topics"
      color="primary"
      selected
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(topic)"
    >
      {{ topic.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Tópicos"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-error>Adicione ao menos um tópico</mat-error>
</mat-form-field>
