.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.footer {
  background-color: #212121;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  min-height: 10vh;
}

p {
  font-size: 0.8rem;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {
  p {
    font-size: 0.55rem;
  }
}