.container {
  color: #353535;
  margin-top: 10%;
  min-height: 800px;
}

h1 {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  margin-top: 2%;
}

.button-post-action {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 2%;
}

.button-add-comment {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}

.container .card {
  background-color: #3535352c;
  margin-top: 2%;
  height: auto;
}

.content {
  font-family: Georgia, Cambria, charter, "Times New Roman", Times, serif;
  color: #353535;
  font-size: 1.3rem;
  max-width: 80%;
  white-space: pre-line;
  display: inline-block;
  text-align: justify;
  margin-top: 1%;
  margin-bottom: 5%;
}

.comment-title {
  font-size: 0.9rem;
}

.vertical-middle {
  vertical-align: middle;
}

.coments-painel {
  margin-top: 1%;
  margin-bottom: 3%;
  min-width: 80vw;
  max-width: 80vw;
}

.coment-content-painel {
  min-height: 30vh;
}

.tag-field {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 1%;
}

.edit {
  color: #ffa500;
}

.delete {
  color: #ff006a;
}

.add-comment {
  color: #077227;
}

@media (max-width: 7680px) {
  .container {
    margin-top: 10%;
  }

  h1 {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 1366px) {
  .container {
    margin-top: 20%;
  }

  h1 {
    display: inline-block;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: 20%;
  }

  h1 {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 20%;
  }

  h1 {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    margin-top: 20%;
  }

  h1 {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
  }
}