<h1 mat-dialog-title>Editar postagem</h1>

<div mat-dialog-content>
  <form class="form" [formGroup]="newsEditForm">
    <mat-form-field class="full-width">
      <mat-label>Título</mat-label>
      <input matInput name="title" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Autor</mat-label>
      <input
        matInput
        name="author"
        formControlName="author"
        [readonly]="true"
      />
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Conteúdo</mat-label>
      <textarea
        matInput
        name="content"
        formControlName="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="16"
        placeholder="Redija a sua postagem"
      ></textarea>
    </mat-form-field>
    <app-tag-form
      [tags]="tagsOnInit"
      (newTopicEvent)="addTopic($event)"
      (removeTopicEvent)="removeTopic($event)"
    ></app-tag-form>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="editNews()">Aplicar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
