<header>
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="toolbar-row">

      <button mat-icon-button class="menu-button" (click)="toggleMenu()" *ngIf="screen.isMobile()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="logo"><strong>MYBLOG</strong></span>

      <div class="nav-links" *ngIf="screen.isDesktop()">
        <button class="toolbar-option-button" mat-button (click)="goHome()">Home</button>
        <button class="toolbar-option-button" mat-button (click)="goPostagem()">Postagens</button>
      </div>

      <span class="spacer"></span>

      <div class="search-container" *ngIf="screen.isDesktop()">
        <app-search></app-search>
      </div>

      <div class="auth-container">
        <app-auth></app-auth>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container *ngIf="screen.isMobile()"
  [ngClass]="isMenuOpen ? 'sidenav-container-open' : 'sidenav-container-close'">
  <mat-sidenav #sidenav [(opened)]="isMenuOpen" mode="over" position="start">
    <mat-nav-list>
      <a mat-list-item (click)="goHome(); isMenuOpen = false">Home</a>
      <a mat-list-item (click)="goPostagem(); isMenuOpen = false">Postagens</a>
      <mat-divider *ngIf="isPostRouteActive()"></mat-divider>
      <a *ngIf="isPostRouteActive()" mat-list-item (click)="addNews(); isMenuOpen = false"><mat-icon>add</mat-icon>Nova postagem</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>