<header>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="toolbar-row">
      <span class="logo"><strong> MYBLOG</strong></span>
      <button class="toolbar-option-button" mat-button (click)="goHome()">
        Home
      </button>
      <button class="toolbar-option-button" mat-button (click)="goPostagem()">
        Postagens
      </button>
      <span class="spacer"></span>
      <div class="search">
        <app-search></app-search>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
