.container {
  margin-top: 10%;
  min-height: 1200px;
}

.container-no-news {
  margin-top: 2%;
  min-height: 800px;
}

.header {
  display: flex;
  justify-content: center;
  margin-left: 2%;
  color: #353436;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
}

.add {
  position: fixed;
  margin-right: 1%;
  right: 0;
  top: 15%;
}

.card {
  margin-top: 2%;
  width: 50%;
  height: auto;
}

.header-card-marker {
  background-image: url("./../../../assets/icons/Article.ico");
  background-size: cover;
}

.paginator {
  display: flex;
  justify-content: center;
  size: 50%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.not-found-news {
  margin-top: 5%;
  font-size: 2em;
}

img {
  height: 50%;
  width: 25%;
}

@media (max-width: 7680px) {
  .container {
    margin-top: 10%;
  }

  .container-no-news {
    margin-top: 10%;
  }

  .header h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .add {
    z-index: 4;
  }

  .card {
    width: 84%;
  }

  .paginator {
    margin-bottom: 2%;
  }
}


@media (max-width: 1366px) {
  .container {
    margin-top: 15%;
  }

  .container-no-news {
    margin-top: 15%;
  }

  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10%;
  }

  .add {
    z-index: 4;
  }

  .card {
    width: 75%;
  }

  .paginator {
    margin-bottom: 4%;
  }
}

@media (max-width: 992px) {
  .container {
    margin-top: 20%;
  }

  .container-no-news {
    margin-top: 20%;
  }

  .header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .add {
    z-index: 4;
  }

  .card {
    width: 75%;
  }

  .paginator {
    margin-bottom: 6%;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 20%;
  }

  .container-no-news {
    margin-top: 20%;
  }

  .header h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .add {
    z-index: 4;
  }

  .card {
    width: 70%;
  }

  .paginator {
    margin-bottom: 8%;
  }
}

@media (max-width: 576px) {
  .container {
    margin-top: 25%;
  }

  .container-no-news {
    margin-top: 25%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .card {
    width: 90%;
  }

  .paginator {
    margin-bottom: 10%;
  }
}